header{
    background-color: lightgrey;
}
footer{
    background-color: lightgrey;

}
.pradzia{
    background-image: url("images.jpg");
    background-repeat: no-repeat;
    background-position: right;
}
